/* Content */
/* Welcome sign */
#left-square {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #2863a7;
  border-radius: 10px;
  color: white;
}
#right-square {
  height: 150px;
  background-color: #2a4563;
  border-radius: 10px;
}

/* Widgets */
.widget {
  background-color: white;
  box-shadow: 5px 5px 5px #c1c9d2;
  border-radius: 10px;
  padding: 15px;
}
.widget-body {
  margin: 10px;
}
.widget-button {
  display: flex;
  flex-direction: row-reverse;
}
/* Widget: Data Visualizer */
#data-visualizer {
  height: 250px;
}
.btn-widget {
  font-size: 15pt;
  width: 150px;
  background-color: #efc064;
  border-color: white;
}
/* Widget: Announcements */
#announcements-visualizer {
  height: 200px;
}
